# See https://prettier.io/docs/en/ignore.html for more about ignoring files.

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
