<!DOCTYPE html>
<!-- Copyright (c) 2022 Sharpened Blade -->
<html lang="en">
    <head>
        <title>Sharpened Blade - {{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href={{ '/styles/style.css' | url }} rel="stylesheet">
    </head>
    <body>
        <header>
            <b>Sharpened Blade's Website</b>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
            </nav>
        </header>

        <main>
            <div id="content">
                {{ content }}
            </div>
        </main>

        <footer>
            <p>Sharpened Blade's website and blog. <a href="https://github.com/sharpenedblade/sharpenedblade.github.io">Source code</a> for this website.</p>
        </footer>
    </body>
</html>
