:root {
    --bg: var(--flexoki-bg);
    --bg-2: var(--flexoki-bg-2);
    --tx: var(--flexoki-tx);
    --tx-2: var(--flexoki-tx-2);
    --border: var(--flexoki-ui);
}

html,
body {
    height: 100%;
    font-size-adjust: ex-height 0.55;
    font-size: 16px;
}
